<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>My Code Louisville FSJS Project</title>
</head>
<body>
  <div class="container text-center">
    <div class="jumbotron text-center">
      <h1>Star Wars: The Quote App!</h1>
    </div>
  <ul class="quotes list-group row">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote list-group-item col-xs-6 text-center">  <!---  Using EJS to display the database information    ---> 
      <span><%= quotes[i].name %>: </span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>

  <div>
    <h2>Add a quote</h2>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" id="name">
      <input type="text" placeholder="quote" name="quote" id="quote">
      <button type="submit" id="submitbutton" disabled>Submit</button>
    </form>
  </div>
  <div>
    <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
    <button id="update" class="btn btn-danger"> Darth Vader invades! </button>
  </div>

  <div>
    <h2>Delete Darth Vadar's first quote</h2>
    <button id="delete" class="btn btn-success"> Delete first Darth Vader quote </button>
  </div>
  </div>
  <script src="main.js"></script>
  <script src="jquery.textchange.js"></script>
  <script src="textVerifier.js"></script>
</body>
</html>
